# The directory Mix will write compiled artifacts to.
/_build/

# If you run "mix test --cover", coverage assets end up here.
/cover/

# The directory Mix downloads your dependencies sources to.
/deps/

# Where third-party dependencies like ExDoc output generated docs.
/doc/

# Temporary files, for example, from tests.
/tmp/

# Mkdocs.
/site/

# If the VM crashes, it generates a dump, let's ignore it too.
erl_crash.dump

# Also ignore archive artifacts (built via "mix archive.build").
*.ez

# Ignore package tarball (built via "mix hex.build").
postgrestxn-*.tar

# Ignore the Elixir Language Server artifacts.
.elixir_ls/

# VCS
.git/
.gitignore

# Local env files
.tool-versions

# Tests.
test/

# Docker config itself isn't COPIED in.
Dockerfile
docker-compose.yml
.dockerignore

# OS noise
.DS_Store
